In [ ]:
import pandas as pd
data = {
    'Name': ['John', 'Sarah', 'Mike', 'Emily', 'David'],
    'Age': [25, 31, 29, 35, 27],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'Salary': [50000, 70000, 60000, 80000, 55000]
}
df = pd.DataFrame(data)
print(df.head(3))

    Name  Age Gender  Salary
0   John   25      M   50000
1  Sarah   31      F   70000
2   Mike   29      M   60000

In [ ]:
df.tail(3)

    Name  Age Gender  Salary
2   Mike   29      M   60000
3  Emily   35      F   80000
4  David   27      M   55000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [ ]:
print(df.describe())

             Age        Salary
count   5.000000      5.000000
mean   29.400000  63000.000000
std     3.847077  12041.594579
min    25.000000  50000.000000
25%    27.000000  55000.000000
50%    29.000000  60000.000000
75%    31.000000  70000.000000
max    35.000000  80000.000000

In [ ]:
import pandas as pd
data = {
    'name':['Alice','Bob','Charlie','Dave'],
    'age':[25,30,35,40],
    'score':[90,80,85,95]
}
df = pd.DataFrame(data)
#Sort DataFrame by 'age' column in descending order
df_sorted = df.sort_values(by='age',ascending=False)
print(df_sorted)

      name  age  score
3     Dave   40     95
2  Charlie   35     85
1      Bob   30     80
0    Alice   25     90

In [ ]:
import pandas as pd
data = {
    'name':['Alice','Bob','Charlie','Dave'],
    'gender':['F','M','M','M'],
    'age':[25,30,35,40],
    'salary':[50000,70000,60000,80000]
}
df = pd.DataFrame(data)
# Only include numeric columns for calculating the mean
grouped = df.groupby('gender').mean(numeric_only=True)['salary']
print(grouped)

gender
F    50000.0
M    70000.0
Name: salary, dtype: float64

In [ ]:
grouped_count = df.groupby('gender').count()
print(grouped_count)

        name  age  salary
gender
F          1    1       1
M          3    3       3

In [ ]:
import pandas as pd
data = {
    'Name':['Alice','Bob','Charlie','Dave','Eve'],
    'Age':[25,30,None,35,40],
    'Salary':[50000,None,70000,60000,80000]
}
df = pd.DataFrame(data)
df

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
3     Dave  35.0  60000.0
4      Eve  40.0  80000.0

In [ ]:
df_cleaned = df.dropna(subset=['Salary'])
print(df_cleaned)

      Name   Age   Salary
0    Alice  25.0  50000.0
2  Charlie   NaN  70000.0
3     Dave  35.0  60000.0
4      Eve  40.0  80000.0

In [ ]:
df_cleaned_all = df.dropna(how='all')
print(df_cleaned_all)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  70000.0
3     Dave  35.0  60000.0
4      Eve  40.0  80000.0

In [ ]:
df_cleaned_any = df.dropna(how='any')
print(df_cleaned_any)

    Name   Age   Salary
0  Alice  25.0  50000.0
3   Dave  35.0  60000.0
4    Eve  40.0  80000.0

In [ ]:
import pandas as pd
import numpy as np
data = {
    'Name':['Alice','Bob','Charlie','Dave','Eve','Bob','Charlie'],
    'Age':[25,np.nan,35,41,np.nan,np.nan,85],
    'Salary':[50000,np.nan,70000,np.nan,60000,np.nan,80000]
}
df = pd.DataFrame(data)
~df.duplicated()

0     True
1     True
2     True
3     True
4     True
5    False
6     True
dtype: bool

In [ ]:
df_filled = df.fillna(0)
print(df_filled)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   0.0      0.0
2  Charlie  35.0  70000.0
3     Dave  41.0      0.0
4      Eve   0.0  60000.0
5      Bob   0.0      0.0
6  Charlie  85.0  80000.0

In [ ]:
import pandas as pd
import numpy as np
data = {
    'Name':['Alice','Bob','Charlie','Dave','Eve'],
    'Age':[25,np.nan,35,41,np.nan],
    'Salary':[50000,np.nan,70000,np.nan,60000]
}
df = pd.DataFrame(data)
df_ffilled = df.fillna(method = 'ffill')
print(df_ffilled)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  25.0  50000.0
2  Charlie  35.0  70000.0
3     Dave  41.0  70000.0
4      Eve  41.0  60000.0

<ipython-input-19-d71ef48fcac3>:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffilled = df.fillna(method = 'ffill')

In [ ]:
df_bfilled = df.fillna(method = 'bfill')
print(df_bfilled)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  35.0  70000.0
2  Charlie  35.0  70000.0
3     Dave  41.0  60000.0
4      Eve   NaN  60000.0

<ipython-input-20-4577c0f2436e>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfilled = df.fillna(method = 'bfill')

In [ ]:
df_mean = df.fillna(df.select_dtypes(include=np.number).mean())
print(df_mean)

      Name        Age   Salary
0    Alice  25.000000  50000.0
1      Bob  33.666667  60000.0
2  Charlie  35.000000  70000.0
3     Dave  41.000000  60000.0
4      Eve  33.666667  60000.0

In [ ]:
~df.duplicated()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [ ]:
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'], 'age': [25, 32, 18, 47], 'gender': ['F', 'M', 'M', 'M'], 'height': [1.62, 1.78, 1.65, 1.83]}
df = pd.DataFrame(data)
df_filtered = df[(df['gender'] == 'M') & (df['height']>1.7)]
# print the filtered DataFrame
print(df_filtered)

   name  age gender  height
1   Bob   32      M    1.78
3  Dave   47      M    1.83